<.form :let={f} for={@changeset} action={@action}>
  <.input field={f[:nombres]} type="text" label="Nombres" />
  <.input field={f[:apellidos]} type="text" label="Apellidos" />
  <.input field={f[:correo]} type="text" label="Correo" />
  <.input field={f[:nombre_usuario]} type="text" label="Nombre usuario" />
  <footer>
    <.button variant="primary">Save User</.button>
    <.button :if={@return_to} href={@return_to}>Cancel</.button>
  </footer>
</.form>
