<Layouts.app flash={@flash}>
  <.header>
    New Mascota
    <:subtitle>Use this form to manage mascota records in your database.</:subtitle>
  </.header>

  <.mascota_form changeset={@changeset} action={~p"/mascotas"} return_to={~p"/mascotas"} />
</Layouts.app>
